.board {
  display: grid;
  grid-template-areas:
    "playerA-4  battle-5  playerB-4"
    "playerA-3  battle-6  playerB-3"
    "playerA-2  battle-7  playerB-2"
    "playerA-1  battle-8  playerB-1"
    "    .      battle-9     .    "
    "    .      battle-10    .    "
    "playerA-14 battle-11 playerB-14"
    "playerA-13 battle-12 playerB-13"
    "playerA-0     .      playerB-0"
    "playerA-15    .      playerB-15";
}

.square {
  width: 50px;
  height: 50px;
}

@for $i from 0 through 4 {
  .square--playerA-#{$i} { 
    grid-area: playerA-#{$i};
  }
}

@for $i from 13 through 15 {
  .square--playerA-#{$i} { 
    grid-area: playerA-#{$i};
  }
}

@for $i from 0 through 4 {
  .square--playerB-#{$i} { 
    grid-area: playerB-#{$i};
  }
}

@for $i from 13 through 15 {
  .square--playerB-#{$i} { 
    grid-area: playerB-#{$i};
  }
}

@for $i from 5 through 12 {
  .square--battle-#{$i} { 
    grid-area: battle-#{$i};
  }
}

// .square--startA { 
//   grid-area: startA;
// }

// .square--startB { 
//   grid-area: startB;
// }

// .square--endA { 
//   grid-area: endA;
// }

// .square--endB { 
//   grid-area: endB;
// }